$aside-shadow-size: 0 13px 33px 0.33px;
$aside-shadow-color: transparentize($shadow-gray, 0.7);
$aside-bullet-size: 8px;
$aside-bullet-color: transparentize($white, 0.5);

$article-width: 66%;

main {
  section {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    @include ie {
      align-items: stretch;
    }

    @include md {
      flex-flow: column;
    }

    article {
      flex: 0 0 $article-width;
      padding-right: $space-wide;

      @include md {
        padding-right: 0;
        flex: auto;
        margin-bottom: $space-thin;
      }

      p {
        &:first-of-type {
          margin-top: font-height-adjust(0);
        }
        &:last-of-type {
          padding-bottom: 0;
        }
      }
    }
    aside {
      padding: $space-thin;
      background-color: $accent;
      box-shadow: $aside-shadow-size $aside-shadow-color;
      @include md {
        width: 100%;
      }
      @include xs {
        padding: $space-thin * $screen-xs-scale;
      }

      ul {
        li {
          padding: $font-size-body 0 0 $font-size-body;
          position: relative;

          &:before {
            content: "";
            background-color: $aside-bullet-color;
            display: inline-block;
            width: $aside-bullet-size;
            height: $aside-bullet-size;
            border-radius: 50%;
            position: absolute;
            left: 0;
            margin-top: ($font-size-body * $font-lineheight-body / 2) - ($aside-bullet-size / 2);
          }

          &:first-of-type {
            padding-top: 0;
          }

          a {
            color: $white;
            line-height: $font-lineheight-body;
          }
        }
      }
    }
  }
}
