$section-width: 1200px;
$section-width-lg: 1024px;
$section-width-md: 768px;
$section-width-sm: 100%;

section {
  padding: $space-wide 0;
  width: $section-width;

  @include lg {
    width: $section-width-lg;
  }
  @include md {
    width: $section-width-md;
    padding: ($space-wide * 0.5) 0;
  }
  @include sm {
    width: $section-width-sm;
    padding-left: $space-thin;
    padding-right: $space-thin;
  }
  @include xs {
    padding-left: $space-thin * 0.5;
    padding-right: $space-thin * 0.5;
  }
}
