@import 'https://fonts.googleapis.com/css?family=Roboto:400,500';

// FONTS
$font-family-roboto: 'Roboto', sans-serif;

// weights
$font-weight-normal: 400;
$font-weight-bold: 500;

// sizes
$font-size-normal: 16px;
