@import "reset";
@import "variables";
@import "typography";
@import "section";
@import "header";
@import "main";
@import "footer";

html {
  font-size: $font-size-body;

  body {
    display: flex;
    flex-direction: column;

    header,
    footer,
    main {
      display: flex;
      justify-content: center;
    }
  }
}
